# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserdata
*.xccheckout
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/xcuserdata

# Swift Package Manager
Packages/
.build/
.swiftpm/xcode/package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# User-specific files
*.moved-aside
*.swp
*~.nib
*.xcuserdata/
